@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav-container header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

/* logo */

.nav-container header .logo {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  margin-left: 0.6rem;
}

.nav-container header a .logo-rest {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.6rem;
  position: relative;
  color: #626262;
}

.nav-container header a .logo-rest::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffb624;
  border-radius: 50%;
  position: absolute;
  top: 0.8rem;
  left: 4.2rem;
}

.nav-container header a .logo-D {
  font-weight: bold;
  font-size: 2.8rem;
  color: #ffb624;
}

.nav-container header a .logo-C {
  font-weight: bold;
  font-size: 2.8rem;
  color: #afe2ff;
}

/* logo-end */

.nav-container header ul {
  display: flex;
  margin-left: 3rem;
  margin-top: 1.7rem;
  list-style-type: none;
}

.nav-container header ul li a {
  list-style-type: none;
  margin-right: 1.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #626262;
  text-decoration: none;
}

.nav-container header ul li a:hover {
  color: #afe2ff;
}

.social-header {
  display: none;
}

.hero {
  background: #efefef;
  padding: 4rem;
  text-align: center;
}

.hero h1 {
  margin-bottom: 1rem;
}

.hero p {
  color: #626262;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.scroll-down {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.scroll-down i {
  color: #ffb624;
}

.scroll-down i:hover {
  transform: scale(1.5);
}

/* works */

.works h2 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: 0.6rem;
  color: #626262;
  position: relative;
  margin: 1rem 3rem;
  display: inline-block;
}

.works h2::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffb624;
  border-radius: 50%;
  position: absolute;
  top: 1.2rem;
  left: 6rem;
}

.works .project {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.works .project img {
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
}

.works .project .project-disc {
  display: flex;
  flex-direction: column;
}

.works .project .project-disc h3 {
  padding: 1rem;
  color: #626262;
  font-weight: 500;
  text-align: center;
}

.works .project .project-disc p {
  display: inline-block;
  margin: 0 2rem;
  padding-bottom: 1.6rem;
  color: #727272;
  border-bottom: 2px solid #ffb624;
  font-size: 0.8rem;
}

.works .project2 {
  margin-top: 2.4rem;
}

.works .project2 .project-disc p {
  border: none;
}

/* works-end */
/* about */

.about {
  background-color: #efefef;
}

.about h2 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: 0.6rem;
  color: #000;
  position: relative;
  margin: 1rem 3rem;
  display: inline-block;
  padding-top: 1rem;
}

.about h2::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffb624;
  border-radius: 50%;
  position: absolute;
  top: 2.2rem;
  left: 6rem;
}

.about .about-info {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.about .about-info img {
  width: 70%;
  border-radius: 5%;
}

.about .about-info .about-disc {
  display: flex;
  flex-direction: column;
}

.about .about-info .about-disc h3 {
  padding: 1rem;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.about .about-info .about-disc p {
  display: inline-block;
  margin: 0 2rem;
  padding-bottom: 1.6rem;
  color: #727272;
  font-size: 0.8rem;
}

/* about-end */

/* contact form */
.contact h2 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: 0.6rem;
  color: #626262;
  position: relative;
  margin: 1rem 3rem 2rem;
  display: inline-block;
  padding-top: 1rem;
}

.contact h2::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffb624;
  border-radius: 50%;
  position: absolute;
  top: 2.2rem;
  left: 10rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 1rem;
  background-color: #d1eeff;
  padding: 2rem 0;
  border-radius: 12px;
  max-width: 600px;
}

.contact form input,
.contact form textarea {
  margin-bottom: 1.6rem;
  width: 80%;
  border: none;
  font-size: 1rem;
  border-bottom: 2px solid #626262;
  background-color: #d1eeff;
}

.contact form textarea {
  font-size: 1.2rem;
}

.contact form .submit {
  width: 80%;
  border: none;
  background-color: #ffb624;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
}

.contact form .submit:hover {
  background-color: #000;
  color: #ffb624;
  text-shadow: 0 0 5px #ffb624;
  font-weight: 600;
  cursor: pointer;
}
/* contact form end */

.contact ul {
  display: flex;
  width: 64%;
  margin: 1.6rem 0 2rem 18%;
  list-style-type: none;
  justify-content: space-around;
}

.contact ul li a i {
  color: #000;
  font-size: 2rem;
}

.contact ul li a i:hover {
  text-shadow: 0 0 15px #ffb624;
}

/* footer */

footer p {
  padding: 1rem;
  background-color: #626262;
  color: #fff;
  text-align: right;
  font-size: 0.8rem;
  z-index: 2;
}

/* footer end */

/* medium start */
@media only screen and (min-width: 768px) {
  .hero {
    background-color: white;
    padding: 12rem 4rem;
  }

  .hero .content {
    position: relative;
  }

  .hero .box1 {
    width: 3rem;
    height: 3rem;
    border-top: 3px solid #626262;
    border-left: 3px solid #626262;
    border-radius: 10px 0 0 0;
    position: absolute;
    top: -3rem;
  }

  .hero .box2 {
    width: 3rem;
    height: 3rem;
    border-right: 3px solid #626262;
    border-bottom: 3px solid #626262;
    border-radius: 0 0 10px 0;
    position: absolute;
    right: 0;
  }

  .works {
    background-color: #efefef;
    padding: 1rem 0 2rem 0;
  }

  .works .project {
    display: grid;
    grid-template-columns: 55% auto;
    align-items: unset;
    justify-content: unset;
    width: 80%;
    padding: 2rem;
  }

  .works .project img {
    margin-top: 1rem;
  }

  .works .project .project-disc {
    justify-content: center;
  }

  .works .project .project-disc h3 {
    text-align: left;
    padding-left: 0;
  }

  .works .project .project-disc p {
    border-bottom: none;
    margin-left: 0;
    font-size: 0.9rem;
  }

  .works .project2 {
    padding-top: 4rem;
    border-top: 2px solid #ffb624;
  }

  .about {
    background-color: #fff;
  }

  .about .about-info {
    display: grid;
    grid-template-columns: 60% auto;
    width: 80%;
  }

  .about .about-info img {
    width: 100%;
  }

  .contact {
    background-color: #efefef;
  }

  .contact .contact-info {
    display: grid;
    grid-template-columns: 70% auto;
  }

  .contact .contact-info form {
    margin-left: 4rem;
  }

  .contact .contact-info ul {
    padding-bottom: 2rem;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

/* large start */
@media only screen and (min-width: 1024px) {
  .nav-container {
    display: grid;
    grid-template-columns: 60% auto;
  }

  .nav-container header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-container header .logo {
    padding-left: 4rem;
  }

  .nav-container header nav {
    background-image: linear-gradient(90deg, transparent, #ffb624);
  }

  .nav-container header ul {
    justify-content: space-between;
    margin-right: 2rem;
  }

  .nav-container header ul li a {
    margin-right: 2rem;
  }

  .social-header {
    background-color: #ffb624;
    display: block;
  }

  .social-header ul {
    list-style-type: none;
    display: flex;
    margin-left: -3rem;
    float: left;
  }

  .social-header ul li {
    margin-top: 1.5rem;
  }

  .social-header ul li a i {
    color: black;
    font-size: 1.4rem;
    margin-left: 3rem;
  }

  .social-header ul li a i:hover {
    color: #afe2ff;
  }

  .hero {
    height: 98vh;
    display: grid;
    grid-template-columns: 60% auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .hero .content {
    padding: 8rem 4rem;
    text-align: left;
  }

  .hero .box1 {
    top: 3rem;
  }

  .hero .box2 {
    bottom: 15rem;
  }

  .hero .content h1 {
    font-size: 2.4rem;
    margin: 1rem;
  }

  .hero .content p {
    margin: 4rem 1rem;
    font-size: 1.6rem;
  }

  .hero .picture {
    background-image: linear-gradient(90deg, #fff, transparent),
      url(../images/background.jpg);
    background-size: cover;
  }

  .scroll-down {
    margin-top: 5rem;
    margin-left: 10rem;
  }

  .scroll-down i {
    font-size: 3rem;
  }

  .works .works-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .works .works-grid .project2 {
    border: none;
  }

  .works .works-grid .project {
    margin: 1rem 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .works .works-grid .project h3 {
    text-align: center;
  }

  .works .works-grid .project p {
    margin-right: 0;
  }

  footer {
    z-index: 2;
  }

  footer p {
    padding: 1rem 4rem;
    background-color: #626262;
    color: #fff;
    text-align: right;
    font-size: 0.8rem;
    z-index: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .large-row {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .large-row .about .about-info {
    display: flex;
    flex-direction: column;
  }

  .large-row .contact {
    background-color: #fff;
  }

  .large-row .contact h2 {
    color: #000;
  }

  .large-row .contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .large-row .contact .contact-info form {
    margin: 5rem auto;
  }
  .large-row .contact .contact-info ul {
    flex-direction: row;
    margin-top: 5rem;
  }
}
